<article *ngIf="!isDaily">
  <div class="text-center">
    <div class="img-wrapper">
      <img [src]="iconUrl">
    </div>
    <div *ngIf="!units">{{ weather.main.temp | number:'1.0-0'}}&#8451;</div>
    <div *ngIf="units">{{ weather.main.temp | number:'1.0-0'}}&#8457;</div>
    <div>{{ timeConverter(dt_txt) }}</div>
  </div>
</article>
<article *ngIf="isDaily">
  <div class="text-center">
    <div class="img-wrapper">
      <img [src]="iconUrl">
    </div>
    <div *ngIf="!units">{{ weather.temp.day | number:'1.0-0'}}&#8451;</div>
    <div *ngIf="units">{{ weather.temp.day | number:'1.0-0'}}&#8457;</div>
    <div>{{ week_txt }} </div>
  </div>
</article>