<div class="wrapper d-flex justify-content-center align-items-center">
  <div *ngIf="!weather.weather" class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div *ngIf="weather.weather" class="d-flex flex-column">
    <h2 class="text-center">{{weather.name | uppercase}}</h2>
    <div class="d-flex justify-content-center">
      <div class="d-flex">
        <div class="d-flex flex-column info-wrapper">
          <div class="flex-100 justify-content-center align-items-center img-wrapper" [ngStyle]="getIconStyle()">
            <!-- <img [src]="iconUrl"> -->
          </div>
          <div class="description">{{ weather.weather ? (weather.weather[0].description | uppercase) : ''}}</div>
        </div>
        <div class="d-flex flex-column info-wrapper">
          <div class="flex-100 justify-content-center align-items-center">
            <h3 *ngIf="!units" class="text-center">{{weather.main?.temp | number:'1.0-0'}}&#8451;</h3>
            <h3 *ngIf="units" class="text-center">{{weather.main?.temp | number:'1.0-0'}}&#8457;</h3>
          </div>
          <div *ngIf="!units">{{weather.main?.temp_min | number:'1.0-0'}}&#8451; ~ {{ weather.main?.temp_max | number:'1.0-0'}}&#8451; </div>
          <div *ngIf="units">{{weather.main?.temp_min | number:'1.0-0'}}&#8457; ~ {{ weather.main?.temp_max | number:'1.0-0'}}&#8457; </div>
        </div>
      </div>
    </div>
  </div>
</div>