<h5>3 HOUR FORECAST</h5>
<div class="wrapper">
    <div *ngIf="forecastData.length === 0" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="d-flex">
        <app-weather-item *ngFor="let weather of forecastData[0].series" [weatherItem]="weather" [isDaily]="false">
        </app-weather-item>
    </div>

</div>

<h5>DAILY FORECAST</h5>
<div class="wrapper">
    <div *ngIf="forecastDailyData.length === 0" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="d-flex">
        <app-weather-item *ngFor="let weatherDaily of forecastDailyData[0].series" [weatherItem]="weatherDaily" [isDaily]="true">
        </app-weather-item>
    </div>
    <div *ngIf="isShowChat">
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="forecastDailyData" [gradient]="gradient" [xAxis]="showXAxis"
            [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
        </ngx-charts-line-chart>
    </div>

</div>