<label class="switch">
    <input type="checkbox" id="togBtn" [checked]="units" (change)="changeUnit()">
    <div class="slider round">
        <span class="on">C</span>
        <span class="off">F</span>
    </div>
</label>

<div class="d-flex flex-column container" [ngClass]="{'landscapeMode' : isLandscape}">
    <div class="main-info flex-1">
        <app-weather-nowadays></app-weather-nowadays>
        <app-city-search [latitude]="latitude" [longitude]="longitude"></app-city-search>
    </div>
    <app-weather-forecast [ngClass]="{ 'flex-2' : !isLandscape, 'flex-1' : isLandscape}"></app-weather-forecast>
</div>